header#main-header {
  width: 100%;
  height: 60px;
  background: #da552f;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s cubic-bezier(0.42, 0, 0.49, 0);
}

header#main-header:hover {
  color: rgb(124, 0, 83);
}